# Sampling
We will randomly select ~35 samples from original dataset. 
Using stratified sampling based on the test/test+repair attribute

In [1]:
import pandas as pd

In [2]:
stations = pd.read_csv("verified_avg_fee_by_station_jx.csv")

In [3]:
stations.head()

,No.,Station Id,Avg. Test Fees,Station Name,Address,City,ZIP,Phone Number,Price,Tax,On the Spot Registration,Registration/Sticker Fee,Service Type,Detailed Information
0,1.0,2.0,$25,KEN GARFF MERCEDES BENZ,575 SOUTH STATE,SALT LAKE CITY,84111.0,855-780-1053,25,0,Na,Na,TestAndRepair,Na
1,2.0,24.0,$39,OLYMPUS HILLS SINCLAIR,3905 SOUTH WASATCH BLVD,SALT LAKE CITY,84124.0,801- 272-2081,39,0,Na,Na,TestAndRepair,Na
2,3.0,28.0,$31,UNION SERVICE,997 EAST 7220 SOUTH,MIDVALE,84047.0,801-255-4122,Na,Na,Na,Na,Na,Na
3,4.0,38.0,$30,LARRY H. MILLER TOYOTA,5650 S STATE ST,MURRAY,84107.0,801-264-3850,30,0,Yes,5,TestAndRepair,Na
4,5.0,46.0,$35,QUALITY TIRE CO.,1335 WEST 2100 SOUTH,SALT LAKE CITY,84119.0,801-972-1944,Na,Na,Na,Na,Na,Na

In [4]:
stations['Service Type'] = stations['Service Type'].str.strip()

In [5]:
stations[['Station Id', 'Service Type']].groupby(['Service Type']).count()

                        Station Id
Service Type
Na                              55
Test+light repair                1
TestAndRepair                  337
TestAndRepair for ford           1
TestOnly                        30

In [6]:
stations.ix[stations['Service Type']=='Test+light repair', 'Service Type']='TestAndRepair'
stations.ix[stations['Service Type']=='TestAndRepair for ford', 'Service Type']='TestAndRepair'

/Users/xiaoguihua/anaconda3/envs/new_env/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
/Users/xiaoguihua/anaconda3/envs/new_env/lib/python3.6/site-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [7]:
stations[['Station Id', 'Service Type']].groupby(['Service Type']).count()

               Station Id
Service Type
Na                     55
TestAndRepair         339
TestOnly               30

## We will select 3 from 'test only' and 32 from 'test and repair'

In [8]:
test_only = stations.loc[stations['Service Type'] == 'TestOnly'].reset_index(drop=True)
test_and_repair = stations.loc[stations['Service Type'] == 'TestAndRepair'].reset_index(drop=True)

In [9]:
test_only.shape

(30, 14)

In [10]:
test_and_repair.shape

(339, 14)

In [11]:
to_s = test_only.sample(n=3, random_state = 2019)
tnr_s = test_and_repair.sample(n=32, random_state=2019)

In [12]:
sample = pd.concat([to_s, tnr_s], ignore_index=True)

In [13]:
sample.shape

(35, 14)

In [14]:
sample.to_csv('sample.csv')

## For supplimentary sample: we need 15 more: 1 from test only and 14 from test and repair

In [15]:
stations.head()

,No.,Station Id,Avg. Test Fees,Station Name,Address,City,ZIP,Phone Number,Price,Tax,On the Spot Registration,Registration/Sticker Fee,Service Type,Detailed Information
0,1.0,2.0,$25,KEN GARFF MERCEDES BENZ,575 SOUTH STATE,SALT LAKE CITY,84111.0,855-780-1053,25,0,Na,Na,TestAndRepair,Na
1,2.0,24.0,$39,OLYMPUS HILLS SINCLAIR,3905 SOUTH WASATCH BLVD,SALT LAKE CITY,84124.0,801- 272-2081,39,0,Na,Na,TestAndRepair,Na
2,3.0,28.0,$31,UNION SERVICE,997 EAST 7220 SOUTH,MIDVALE,84047.0,801-255-4122,Na,Na,Na,Na,Na,Na
3,4.0,38.0,$30,LARRY H. MILLER TOYOTA,5650 S STATE ST,MURRAY,84107.0,801-264-3850,30,0,Yes,5,TestAndRepair,Na
4,5.0,46.0,$35,QUALITY TIRE CO.,1335 WEST 2100 SOUTH,SALT LAKE CITY,84119.0,801-972-1944,Na,Na,Na,Na,Na,Na

In [16]:
index_ls = sample['No.']

In [17]:
#remove previous 
stations2 = stations[~stations['No.'].isin(index_ls)]

In [18]:
stations2.shape

(401, 14)

In [19]:
test_only2 = stations2.loc[stations2['Service Type'] == 'TestOnly'].reset_index(drop=True)
test_and_repair2 = stations2.loc[stations2['Service Type'] == 'TestAndRepair'].reset_index(drop=True)

In [20]:
to_s2 = test_only2.sample(n=1, random_state = 2019)
tnr_s2 = test_and_repair2.sample(n=14, random_state=2019)

In [21]:
sample2 = pd.concat([to_s2, tnr_s2], ignore_index=True)
sample2.to_csv('sample2.csv')